body {
  background-color: white;
}
h1 {
  color: red;
}
p {
  color: red;
}
ul, li {
    list-style: none;
}
#menu {
  width: 125px; 
}
#menu a {
  background-color: #cdc0b0;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

#menu a:hover {
  background-color: #ccc;
}
#menu a.active {
  background-color: #ccc;
  color: black;
}
#buttons{
	float: right;
}
#headerTitle {
	color: red;
	padding: 10px;
	text-align: center;
	font-size: 32px;
}
#header{
	background-color: black;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}