body {
  background-color: white;
}
h1 {
  color: red;
}
p {
  color: red;
}
ul, li {
    list-style: none;
}
#menu {
  width: 125px;
  padding-top: 78px;
}
#menu a {
  background-color: #cdc0b0;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

#menu a:hover {
  background-color: #ccc;
}

#footer {
    margin: auto;
    width: 100%;
    height: 100px;
	background: rgb(98,2,2);
    background: linear-gradient(90deg, rgba(98,2,2,1) 30%, rgba(5,0,0,1) 90%);
	position: absolute;
    left: 0;
    bottom: 0;
}
.footGrid{
  display: grid;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 30px;
  color: whitesmoke;
}
.gridleft{
  display: flex;
  align-items: center;
  justify-self: start;
  padding-left: 25px;
}
.gridmid{
	display: flex;
  align-items: center;
  justify-self: center;
}
.gridright{
	display: flex;
  align-items: center;
  justify-self: end;
  padding-right: 10px;
}

#buttons{
	float: right;
}
#header {
	margin: auto;
	width: 100%;
	height: 90px;
	background-color: black;
	position: static;
}
.headerTitle {
	color: red;
	padding: 10px;
	text-align: center;
	font-size: 32px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
}


.content {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}