body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
#menu {
  width: 125px; 
}
#menu a {
  background-color: #cdc0b0;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;  
}
#menu a:hover {
  background-color: #ccc;
}
#menu a.active {
  background-color: #ccc;
  color: black;
}
#footer {
    margin: auto;
    width: 100%;
    height: 100px;
	background: rgb(98,2,2);
    background: linear-gradient(90deg, rgba(98,2,2,1) 30%, rgba(5,0,0,1) 90%);
	position: relative;
}
.footGrid{
  display: grid;
  height: 100px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 30px;
  color: whitesmoke;
}
.gridleft{
  display: flex;
  align-items: center;
  justify-self: start;
  padding-left: 25px;
}
.gridmid{
	display: flex;
  align-items: center;
  justify-self: center;
}
.gridright{
	display: flex;
  align-items: center;
  justify-self: end;
  padding-right: 10px;
}
